
/* Pour les résolutions inférieures à 320px mini_phone) */

main, header {
    width: 100%;
    margin: auto;
}


.block_heb_pop
{
    flex-direction: column-reverse;
}
.section_heb, .section_pop, .block_act, .container, nav
{
  
  width: 100%;
  justify-content: center;
  
}

.info
{
    margin-bottom: 35px ;
    font-size: 0.8em;
    
}


/* navigation smartphone */
nav
{
    display: flex;
    width: 100%; 
    margin-top: 10px;
    margin-right: 0px;
}

nav a
{
    display: flex;
    justify-content: center;
   
}

nav ul
{
display: flex;
width: 100%;
 margin: 0;
 padding: 0;
 
}

nav li 
{   
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

nav li:nth-child(3n)
{
    width: 0%;
}

nav li:nth-child(2n), nav li:nth-child(3n) {
    margin-right: 0px;
}


/* supprimer la barre bleue du dessus (tag "hébergements") */
hr
{
    display: none;
}


header [href="#inscription"]
{   
    display: inline;
    font-size: 1.1em;
    color: #0065FC;
    text-decoration: none;
    position: absolute;
    right: 40px;
    top: 30px;
    font-weight: bold;
    width: 20%;
   
}
nav [href="#hebergements"]
{
     
    color: #0065FC;
    font-size: 1.1em;
    border-bottom: 3px solid;
    padding-bottom: 15px;
    padding-top: 0px; 
    width: 100%;
    
   
}

nav [href="#activites"]
{
    
    font-size: 1.1em;
    border-bottom: 3px solid;
    padding-bottom: 15px;
    color: #0a0a0a; 
    border-color: #f2f2f2;
    width: 100%;
    
 
    
}

header p
{
    margin-left: 15px;
}

.titre_principal, .barre_recherche, .titre_filtre, .info, .section_pop h2, .section_heb h2, .afficher_plus, .block_act h2
{
    padding-left: 15px;
    
     
}

.barre_recherche
{
    margin-top: 38px;
    
  
}

.map
{
    
    border-radius: 15px 0 0 15px;
}


.saisie
{
    display: flex;
    width: 55%; 
}   
input[type="button"] {
    min-width: 50px;
    height: 50px;
    font-size: 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.valide {
    position: relative;
    width: 50px;
    border-radius: 15px;
    margin-left: -5px;
}

.valide .fas {
    display: inline; /* faire apparaitre l'icône de recherche */
    position: absolute;
    font-size: 100%;
    color: white;
    right: 17px;
    top: 17px;
}

.titre_filtre {
    
    margin-top: 30px;
    
}


.filtre {
    
    margin-top: 20px;
    margin-left: 8px;
    
}

.money, .child, .heart, .dog 
{
margin-bottom: 15px;
margin-left: 10px;
font-size: 0.8em;
}






.section_heb /* block hebergement */
{   
    
    background-color: white;
    margin-top: 0px;
    
}  

.section_heb h2, .afficher_plus /* titre h2 */
{

margin-left: 0px;

}



.cote i
{
  margin-left: 80px;  
}

.section_pop
 {
    border-radius: 0px;
    margin: 0px;
    padding-bottom: 30px;
    
    
    
 }  
    

.section_pop h2 /* titre h2 */
{

margin-left: 0px;
margin-top: 30px;
margin-bottom: 30px;
font-size: 1.23em;


}

.article_pop /* conteneur photo, descriptif et classement "populaire" */
{
    
    width: 90%;
    margin: 0px 0px 15px 0px;
    font-size: 0.8em;

}

.article /* conteneur photo, descriptif et classement "hebergement" */
{
    
    width: 90%;
    margin: 0px 0px 15px 0px;
    font-size: 0.8em;
    
}


.block_act
{
  margin-top: 0px; 
  font-size: 0.7em;  
}

.article_act
{   height: 190px;
    width: 90%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 7px grey;
}

.article_act img{
    object-position: center top;  
}

.article_act [src="images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg"] { 
    
    object-position: center 40%;  
}
    
        


.article_act[href="#Fort_de_Pomègues"], .article_act[href="#Îles_du_Frioul"] 
{
    height: 190px;
}

.article_act[href="#Fort_de_Pomègues"], .article_act[href="#Îles_du_Frioul"], .article_act[href="#Parc_Longchamp"], .article_act[href="#Notre_Dame_de_la_Garde"]
{
    height: 190px;
    width: 90%;
    
}
.Pomegues_Frioul, .Dame_Longchamps
{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%; 
    
}

/* footer */

footer {
    
    background-color: #f2f2f2;
    margin-top: 30px;
    
}




.container
 {
    
    flex-direction: column; 
    
    
}

.colonne1, .colonne2, .colonne3 
{
    width: 100%;
    padding-top: 40px;
    font-size: 0.75em;
    margin-left: 5px;
}

/* Résolution inférieur à 300px */

@media screen and (max-width: 300px) {

    .article_act[href="#Fort_de_Pomègues"], .article_act[href="#Îles_du_Frioul"], .article_act[href="#Parc_Longchamp"], .article_act[href="#Notre_Dame_de_la_Garde"]
{
    height: 190px;
    width: 90%;
    
}
.section_pop
{
    font-size: 0.9em; 
}   



.section_pop h2
{
    font-size: 1.1em; 
}

.cote i
{
  margin-left: 60px;  
}

.article .star{
margin-top: 2px;
}

.article_act img{
    object-position: center 20%;  
}

.article_act [src="images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg"] { 
    
    object-position: center 40%;  
}
}

/* Résolution inférieur à 250px */

@media screen and (max-width: 250px) {

    .article_act[href="#Fort_de_Pomègues"], .article_act[href="#Îles_du_Frioul"], .article_act[href="#Parc_Longchamp"], .article_act[href="#Notre_Dame_de_la_Garde"]
{
    height: 190px;
    width: 90%;
    
}

    .article_act img{
        object-position: center 20%;  
    }
    
    .article_act [src="images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg"] { 
        
        object-position: center 40%;  
    } 


    .saisie
{
    display: flex;
    width: 50%; 
    
}   

::placeholder

{
    
    font-size: 0.7em;
    justify-content: left;

}
.section_pop h2
{
    font-size: 1.3em; 
}
.section_pop 
{
    font-size: 0.65em; 
}





}