
/* Pour les résolutions inférieures à 380px Small_Smartphone) */


.block_heb_pop
{
    
    width: 100%;
    justify-content: center ; 
    flex-direction: column-reverse;
}
.section_heb, .section_pop, .block_act, .titre_filtre, .info, .container
{
  width: 100%;
  padding-left: 22px;
}

.info
{
    margin-bottom: 35px ;
    max-width: 90%;
}


nav {
    position: relative;
}

.titre_principal
{
    padding-left: 15px;
    max-width: 320px;  
}

.barre_recherche
{
    padding-left: 15px;
    margin-top: 30px;
    width: 200px; 
    
 
}

.map
{
    
    border-radius: 15px 0 0 15px;
}
.saisie
{
    max-width: 210px;  
}

input[type=text]
{
   
    
    min-width: 224px;
   
}
input[type="button"] {
    min-width: 50px;
    height: 50px;
    font-size: 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.valide {
    position: relative;
    width: 50px;
    border-radius: 15px;
    margin-left: -5px;
    
}

.valide .fas {
    display: inline; /* faire apparaitre l'icône de recherche */
    position: absolute;
    font-size: 100%;
    color: white;
    right: 17px;
    top: 17px;
}

.titre_filtre {
    
    margin-top: 30px;
    
}


.filtre {
    
    margin-top: 20px;
    margin-left: 8px;
    
}
.money, .child, .heart, .dog 

{

margin-bottom: 15px;
margin-left: 10px;
font-size: 0.8em;
}

.money, .child
{
    width: 46%;
} 

.info h2
{   
    max-width: 320px;
}


.section_heb /* block hebergement */
{   
    
    background-color: white;
    margin-top: 0px;
    
}  

.section_heb h2, .afficher_plus /* titre h2 */
{

margin-left: 0px;
font-size: 1.3em;

}

.article /* conteneur photo, descriptif et classement "hebergement" */
{
    
    width: 275px;
    height: auto;
    margin: 0px 0px 15px 0px;
    
}

.cote
{
    width: 10%;
}

.section_pop
 {
    border-radius: 0px;
    margin: 0px;
    padding-bottom: 30px;
    
    
 }  
    

.section_pop h2 /* titre h2 */
{

margin-left: 0px;
margin-top: 30px;
margin-bottom: 30px;
font-size: 1.2em;
}

.article_pop /* conteneur photo, descriptif et classement "populaire" */
{
    
    max-width: 280px;
    height: 145px;
    margin: 0px 10px 10px 0px;
    font-size: 0.8em;
    
}

.block_act
{
  margin-top: 0px;   
}
.block_act h2
{
    font-size: 1.3em;
}


.article_act
{
    height: 190px;
    max-width: 275px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 7px grey;
}

.article_act[href="#Fort_de_Pomègues"], .article_act[href="#Îles_du_Frioul"] 
{ 
    height: 190px;
}

/* footer */

footer {
    
    background-color: #f2f2f2;
    margin-top: 30px;
}




.container
 {
    
    flex-direction: column; 
    
}

.colonne1, .colonne2, .colonne3 
{
    width: 100%;
    padding-top: 40px;
    font-size: 0.8em;
}

