
body
{
    width: 100%;
    padding: 0;
    margin: 0;
}
header p
{
    margin-left: 15px;
}



.titre_principal, .barre_recherche, .titre_filtre, .info, .section_pop h2, .section_heb h2, .afficher_plus, .block_act h2
{
    padding-left: 15px;
     
}

.block_heb_pop
{
    
    
	width: 100%;
    max-width: none;
    margin: 0;
    
}
.section_heb, .section_pop, .block_act
{
  width: 100%;
  justify-content: center;
  margin-right: 0;
}

.article
{
  width: 40%;  
  padding-bottom: 40px;
  height: auto;
}




.filtre
{
    flex-wrap: wrap;
    justify-content: left;
     
}

.money, .child, .heart, .dog 
{

margin-bottom: 15px;
margin-left: 15px;
}

.article_pop /* conteneur photo, descriptif et classement */

{
  width: 25%;
  height: auto;
}