
/* Eléments principaux de la page */

@font-face 
{
    
        font-family: 'raleway', "sans-serif";
        src: url("Projet_Reservia/police/Raleway-regular.ttf");
        src: url("Projet_ Reservia/police/Raleway-ExtraBold.ttf");
        font-style: normal;
        font-weight: normal;
}

body

{
    font-family: 'Raleway', Arial, sans-serif;
}

.bloc_page
{   
    margin: auto;
    max-width: 1440px;
   
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}






/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 30px;
}

nav a
{
    font-size: 0.9em;
    color: #0065FC;
    text-decoration: none;
}

nav a:hover
{
    color: #080808;
}

/* Titres */

.titre_principal
{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

h1
{
    
    font-size: 1.2em;
    margin-top: 30px;
}

h2
{
    
    font-size: 0.9em;
    margin-top: 0px;
    font-weight: normal;
}

/*barre de recherche*/



.barre_recherche
{
   display: flex;
   width: 100ù;
   height: 50px;
   align-items: center;
    
}

.map
{
    display: flex;
    min-width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
}

.map i, .cote i
{
    color: black;   
}
 
.cote i
{
  margin-left: 100px;  
}



.saisie
{
    display: flex;
    width: 230px; 
}   



input[type=text]
{
   
    display: flex;
    width: 100%;
    height: 46px;
    padding-left: 15px;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    border-left: none;
    border-right: none;
}

::placeholder

{
    color: #0a0a0a;
    font-weight: bold;
}

.valide
{
    display: flex; 
    min-width: 10%; 
}

.valide :hover
{
    background-color: #DEEBFF;  
    color: black;
}    

input[type=button] 
{
    display: flex;
    width: 125px;
    height: 50px;
    border: none;
    font-size: 1em;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    align-items: center;
    justify-content: center;
    color: white;

}

/* faire disparaitre l'icône de recherche */

.valide .fas 
{
    display: none;  
}

/* faire disparaitre la navigation smartphone */

header [href="#inscription"], .nav_smart
{
    display: none;
}

/* faire apparaitre le tag "S'inscrire" en gras */
header nav ul li [href="#inscription"]
{
    display: inline;
    font-weight: bold;
}

/*Onglets filtre*/

i 
{
color:  #0065FC;   
}
.block_filtre
{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.1em;
    font-weight: bolder;
}

.titre_filtre {
    font-size: 1.1em;
    font-weight: bolder;
    margin-top: 50px;
    width: 55px;

} 

.filtre
{
    
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bolder;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 70px;
    margin-top: -35px; 
}

.filtre :hover /* animation des filtres lors du passage du curseur */
{
    background-color: #DEEBFF;  
    border-radius: 40px;
} 




/*conteneurs des sections + texte*/

.money, .child, .heart, .dog 

{
    display: flex;
    margin-left: 25px;
    border-radius: 40px;
    height: 46px;
    border: #d9d9d9 2px solid;
    border-left: none;
    align-items: center;
    
    
     
}

.money p, .child p, .heart p, .dog p /*centrer uniquement le texte*/
  {
    padding: 10px;
  } 

  





.section /*conteneur du fond bleu + icônes */
{ 
    
    display: flex;
    min-width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: #DEEBFF;
    color: #0065FC;
    align-items: center;
    justify-content: center;  
    
}



.info
{
    margin-top: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.info h2
{   
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.section2 /*conteneur icône info */
{ 
    
    display: flex;
    width: 25px;
    height: 25px;
    color: #0065FC;
    border-radius: 40px;
    border: #d9d9d9 solid 1px;
    align-items: center;
    justify-content: center;  
    
}

.block_heb_pop /* conteneur des 2 blocks hebergement et populaire */
{   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   


}   

.section_heb /* block hebergement */
{   
    display: flex;
    margin: 40px 40px 0 0;
    width: 63%;
    height: auto;
    border-radius: 20px;
    background-color: #f2f2f2;
    flex-wrap: wrap;

}   

.section_heb h2, .afficher_plus /* titre h2 */
{
font-size: 1.4em;
font-weight: bold;
margin-left: 40px;
padding-bottom: 10px;
padding-top: 40px;
width: 100%;


}


.article /* conteneur photo, descriptif et classement */
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 28%;
    height: 200px;
    border-radius: 20px;
    margin: -10px 0px 40px 35px; 
    box-shadow: 0px 0px 10px grey; 
}


.article h4, .article p, .star
{
    margin-left: 15px;
    
}

.article h4
{
    margin-top: 5px;
  
}

.article p
{
    margin-top: -10px;
  
}

.photo
{
   display: flex;
   height: 110px;
   margin: 5px;
}

.photo img
{   
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;   
}

a
{
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

.prix
{
    font-weight: bold; 
}

.star
{
    margin-top: -10px;
       
}

span i /* afficher en gris les étoiles */
{
    color: #cac8c8;
}

.afficher_plus /* afficher plus en gras */
{
font-size: 1.2em;
margin-left: 40px;
padding-top: 0px;
font-weight: bold;
}

.section_pop {
    
    display: flex;
    margin: 40px 40px 0 0;
    width: 31%;
    height: auto;
    border-radius: 20px;
    background-color: #f2f2f2;
    flex-wrap: wrap;
}

.section_pop h2 /* titre h2 */
{
font-size: 1.4em;
font-weight: bold;
margin-left: 40px;
margin-top: 40px;
width: 100%;
}

.article_pop /* conteneur photo, descriptif et classement */
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 83%;
    height: 140px;
    border-radius: 20px;
    margin: 0px 0px 40px 35px; 
    box-shadow: 0px 0px 10px grey; 
}

.descriptif_pop
{
   
   margin-left: 140px;
   margin-top: -150px;
}

.descriptif_pop .star i
{
 margin-top: 25px;  
}

.descriptif_pop h4, .descriptif_pop p
{
 margin-left: 15px;
 margin-right: 25px;  
}



.photo_pop
{
   display: flex;
   width: 50%;
   height: 130px;
   margin: 5px;
}

.photo_pop img
{
    width: 127px;
    height: auto;
    border-radius: 15px 0 0 15px;   
}



.block_act /* block activités */

{   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 40px 0 0;
    min-height: 445px;
    background-color: white;
    

}  

.block_act h2 /* titre h2 */
{
font-size: 1.4em;
font-weight: bold;
margin-top: 20px;
padding-bottom: 10px;
width: 100%;


}

.article_act /* conteneur photo et descriptif */
{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: 43px;
    width: 300px;
    height: 445px;
    border-radius: 20px;
    margin: -5px 0px 0px 0px; 
    box-shadow: 0px 3px 25px #f2f2f2;
   
}

img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0; 
    overflow: hidden;  
}

.titre_act 
{   
    height: 55px;    
}

.titre_act h3
{
    margin: 20px;   
}

.article_act[href="#Fort_de_Pomègues"] 
{
    
    height: 235px;
}

.article_act[href="#Îles_du_Frioul"] 
{   
    
    height: 163px;
}

.article_act[href="#Notre_Dame_de_la_Garde"] 
{   
    
    height: 195px;
}

.article_act[href="#Parc_Longchamp"] 
{   
    
    height: 210px;
}

/*Mise en colonne des petits articles*/

.Pomègues_Frioul, .Dame_Longchamps
{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
 
}

/* footer */

footer {
    
    background-color: #f2f2f2;
    margin-top: 55px;
}

.container {
    max-width: 1380px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.container h2{
    
    font-size: 1.2em;
    font-weight: bold;
}    

.colonne1, .colonne2, .colonne3 
{
    width: 33%;
    padding-top: 50px;
    

}

footer ul
{
    list-style-type: none;
    padding-left: 0px;
    line-height: 2em;
    
}


  